.faq {
  background-color: #fff;
  border-radius: 24px;

  li {
    padding-top: 19px;
    padding-bottom: 19px;
    border-bottom: 1px solid $color-light-blue;

    .question {
      .arrow-elem {
        object-fit: none;
        cursor: pointer;
      }
    }

    .answer {
      display: none;
      padding-top: 19px;
    }

    &.active {
      .question {
        h2 {
          font-weight: $font-bold;
        }

        img {
          transform: rotate(180deg);
        }
      }

      .answer {
        display: inline-block;
      }
    }
  }
}

@media (min-width: 1200px) {
  .faq {
    .logo {
      background-size: contain, 900px 900px;
      background-repeat: no-repeat;
      background-image: url('./../images/illustration-woman-online-desktop.svg'), url('./../images/bg-pattern-desktop.svg');
      background-position: -85px 0, -535px -345px;
    }
  }
}
