main {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: calc(min(39.47%, 148px));
  width: 87.2%;
}

.container-narrow {
  margin: 0 auto;
  width: 85.32%;
}

.faq {
  position: relative;
  height: min-content;
  display: flex;
  flex-wrap: wrap;

  .logo {
    position: relative;
    height: 132px;

    .logo-image {
      position: absolute;
      height: 196px;
      top: -108px;
      left: 50%;
      transform: translateX(calc(-50% - 20px));
    }

    .logo-pattern {
      position: absolute;
      top: 5px;
      left: 50%;
      transform: translateX(calc(-50% - 8px));
    }

    .mail-box {
      display: none;
    }
  }

  .questions-list {
    padding-bottom: 48px;

    h1 {
      padding-bottom: 29px;
    }

    .question {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    margin-top: calc(min(8.96%, 129px));
    width: 63.889%;
  }

  .container-narrow {
    width: 48.15%;
    margin: 65px auto 0 0;
  }

  .faq {
    height: min-content;
    .logo {
      height: auto;
      .logo-image, .logo-pattern {
        display: none;
      }

      .mail-box {
        display: block;
        position: absolute;
        top: 28%;
        left: -22%;
      }
    }

    .questions-list {
      width: 38.04%;
      margin-right: 95px;

      .arrow-elem {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }
}
