@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Variables */
/* Fonts */
$font-text: 'Kumbh Sans', sans-serif;
$font-normal: 400;
$font-bold: 700;

/* Backgrounbd gradient */
$color-soft-violet: hsl(273, 75%, 66%);
$color-soft-blue: hsl(240, 73%, 65%);

/* Text Colors */
$color-desaturated-blue: hsl(238, 29%, 16%);
$color-soft-red: hsl(14, 88%, 65%);
$color-dark-blue: hsl(237, 12%, 33%);
$color-grayish-blue: hsl(240, 6%, 50%);

/* Dividers color */
$color-light-blue: hsl(240, 5%, 91%);
