body {
  font-size: 12px;
  font-family: $font-text;
}

h1 {
  font-size: 32px;
  font-weight: $font-bold;
  line-height: 100%;
  text-align: center;
}

.question {
  color: $color-dark-blue;

  h2 {
    font-weight: $font-normal;
    font-size: 13px;

    &:hover {
      color: $color-soft-red;
      cursor: pointer;
    }
  }
}

.answer {
  color: $color-grayish-blue;
  font-weight: $font-normal;
  line-height: 2;
}

@media (min-width: 1225px) {
  body {
    font-size: 14px;
    font-family: $font-text;
  }

  h1 {
    text-align: left;
  }

  .question {
    h2 {
      font-size: 14px;
    }
  }
}
